.header{
    height: 60px;
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(230, 230, 230);
    z-index: 100;
}

.left-section{
    display: flex;
    
    align-items: center;
}

.middle-section{
    display: flex;
    flex: 1;
    margin-left: 55px;
    margin-right: 35px;
    max-width: 450px;
    align-items: center;
    
    
}

.right-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-right: 20px;
    flex-shrink:0 ;

}

.hamburger-menu{
    height: 24px;
    margin-left: 20px;
    margin-right: 24px;
    
}
.youtube-logo{
    height:20px;
    
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);    
    border-width:1px;
    cursor: pointer;
    margin-left:-1px;

    position:relative;
    
}

.search     .tooltip{
    position:absolute;
    bottom:-50px;
    background-color: rgb(109, 109, 109);
    opacity:0;
    color:white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right:6px;
    border-radius: 2px;
    pointer-events: none;
}

.search:hover .tooltip{
    opacity:0.9;
    transition: opacity 0.15s;
}


.search-icon{
    height: 25px;
}

.voice-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 40px;
    width: 40px;
    background-color: rgb(240, 240, 240);
    border-radius:20px ;
    border: none;  
    margin-left:12px;
    cursor: pointer;
}

.voice-search .tooltip{
    position:absolute;
    bottom: -50px;
    background-color: rgb(109, 109, 109);
    opacity:0;
    color:white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right:6px;
    border-radius: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.voice-search:hover .tooltip{
    opacity: 0.9;
    transition: opacity 0.15s;
}

.voice-search-icon{
    height : 24px;
   
}

.search-bar{
    flex:1;
    height:34px;
    vertical-align: top;
    padding-left: 10px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow:  0 1px 6px rgba(0, 0, 0, 0.2);
    width: 0;

}

.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.upload_container{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload_container .tooltip{
    position:absolute;
    bottom: -50px;
    background-color: rgb(109, 109, 109);
    opacity:0;
    color:white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right:6px;
    border-radius: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.upload_container:hover .tooltip{
    opacity: 0.9;
    transition: opacity 0.15s;
}

.upload{
    height: 24px;
}

.yt_app_container{
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.yt_app_container .tooltip{
    position:absolute;
    bottom: -50px;
    background-color: rgb(109, 109, 109);
    opacity:0;
    color:white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right:6px;
    border-radius: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.yt_app_container:hover .tooltip{
    opacity: 0.9;
    transition: opacity 0.15s;
}
.yt_app{
    height: 24px;
}

.notifications{
    height: 22px;
}

.notification-counter{
    position: relative;
    cursor: pointer;
}

.notification-count{
    position: absolute;
    top: -3px;
    right:-4px;
    font-family:Roboto, Arial;
    font-size: 10px;
    font-weight: 100;
    padding-right:5px ;
    padding-left:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius: 10px;
    background-color: rgb(183, 21, 21);
    color: white;
}

.notification-counter .tooltip{
    position:absolute;
    bottom: -50px;
    background-color: rgb(109, 109, 109);
    opacity:0;
    color:white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right:6px;
    border-radius: 2px;
    pointer-events: none;
    white-space: nowrap;
}

.notification-counter:hover .tooltip{
    opacity: 0.9;
    transition: opacity 0.15s;
}

.profile-pic{
    height: 32px;
    border-radius: 20px;
}